*{
    margin: 0;
    padding: 0;
}

body{
    height: 110vh;
    padding: 20px;
    gap: 15px;
    display: flex;
    flex-direction: column;
}
header{
    display: flex;
    flex-direction: column;
    height: 30%;
    overflow: hidden;
    align-items: center;
}

header img {
    height: 76%;
    width: 80%;
}
.menu{
    border: 1px solid rebeccapurple;
    height: 100%;
    width: 100%;
    display: flex;
    background-color: rgb(243,192,53);
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.menu ul{
    display: flex;
    list-style: none;
    justify-content: space-around;
    flex: 1;
    align-items: center;
}
.menu li{
    border-right: 1px solid;
    height: 3rem;
    flex: 1;
    justify-content: center;
    display: flex;
    align-items: center;
}
.menu .prom{
    border-right: none;
}
main{
    height: 80%;
    display: flex;

}
main h4{
    height: 40px;
    display: flex;
    border-radius: 10px 10px 0px 0px;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: aliceblue;
}
section{
    display: flex;
    width: 34%;
    flex-direction: column;
    justify-content: space-between;
}
.art{
    width: 100%;
    border-radius: 10px 10px 0px 0px;
    height: 43%;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    background-color: darkgray;
}
.cuenta{
    height: 15%;
    align-items: center;
    display: flex;
    justify-content: space-around;
}
.tipo{
    height: 15%;
    align-items: center;
    display: flex;
    justify-content: space-around;
}
.clave{
    height: 15%;
    align-items: center;
    display: flex;
    justify-content: space-around;
}
.boton{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 15%;
}
.boton button{
    background-color: rgb(243,192,53);
    width: 80px;
    height: 20px;
    border-radius: 4px;
}
.art_1{
    width: 100%;
    height: 49%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.art_1 h3{
    background-color: black;
    width: 100%;
    color: yellow;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
    display: flex;
    align-items: center;
    justify-content: center;
}
.parte1{
    background-color: darkgray;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    display: flex;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.938);
    flex-direction: column;
}
.banca{
    border-bottom: 2px solid;
   height: 20%;
   width: 80%;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   display: flex;
   align-items: center;
   color: rgb(207, 207, 207);
   justify-content: center;
}
.banca1{
    border-bottom: 2px solid;
   height: 100%;
   width: 80%;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   display: flex;
   align-items: center;
   color: rgb(207, 207, 207);
   justify-content: center;
}
.parte2{
    background-color: darkgray;
    display: flex;
    width: 100%;
    height: 50%;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.938);
    flex-direction: column;
}
.part1{
    align-items: center;
}
.part1 article{
    height: 48%;
    width: 80%;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(128, 128, 128, 0.61);
    border-radius: 10px 10px 0px 0px;
}
.img1{
    display: flex;
    justify-content: center;
}
.img1 img{
    width: 30%;
    height: 40%;
}
.p{
    display: flex;
    height: 50%;
    justify-content: center;
}
.p p{
    width: 80%;
}
footer{
    background-color: black;
    color: rgb(207, 207, 207);
    display: flex;
    align-items: center;
    flex-direction: column;
}